

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {background-image: url(../img/avenida-paulista.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: 'Cormorant Garamond', serif, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    color:white; font-size: 25px; text-align: justify; 
}

.titulo {background-color: rgb(250, 143, 135,0.5);
        color:rgb(49, 47, 47);
        text-align: center;
        padding: 10px;
        font-family:'pacifico';
        font-size: 50px;
        }

.intro{border: 10px; background-color: rgba(216, 216, 216, 0.5); height:270px}

#intro-video {font-size:50px; text-align: center;  color:rgb(211, 35, 4)}

.icons {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;}

img {float:left; margin:10px}
